.outside{
    .centro{
        display: flex;
        align-items: center;
        justify-content: center;
        // padding-top: 75px;
        // size: 200px;
        // width: 500px;
    }
    .centro1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        // padding-top: 75px;
        // size: 200px;
        // width: 500px;
    }
        
}

.text-baixo-agenda {
    padding-left: 15vh;
}