.form-small {
    display: flex;
    justify-content: space-between;
    padding-left: 10vh;

    padding-right: 10vh;
    align-items: flex-start ;
    .autocomplete-periodicidade {
        padding-top: 2vh;
    }
}
.form-small1 {
    display: flex;
    justify-content: space-between;
    padding-left: 10vh;
    padding-bottom: 2vh;
    padding-right: 10vh;
    align-items: flex-start ;
}
.form-small-function {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
    padding-top: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 3vh;
}
.form-small-login {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10vh;
    padding-right: 10vh;
}


.button-enviar3 {
    padding-top: 29vh;
    display: flex;  
    justify-content: center;
    .btn-grad-form {background-image: linear-gradient(to right, rgb(66, 172, 136) 0%, #93EDC7  51%, #62c099  100%)}
    .btn-grad-form {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        width: 280px;
        font-family: 'Segoe UI';
 }
}
